@import "tailwindcss";
@layer base {
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  html{
    scroll-behavior: smooth;
    overflow: scroll;
  }
 
 
  
  
 
}   